header{display: flex;align-items: center;background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);padding: 20px;color:#fff}
header img{margin-right: 10px;font-size: 1.5rem;}
header h3{margin-right: auto;font-size: 1.25rem;}